 <div class="jumbotron">
  <div class="container">
<h1>Need Money For College?</h1>
<p>"UNT annually awards more than $320 million in financial aid, including more than $36 million in scholarships.
   About 78 percent of students receive financial aid and scholarships." -UNT Financial Aid  Office </p>
<p><a class="btn btn-primary btn-lg" ui-sref="Contact" role="button">Apply Now <span class="glyphicon glyphicon-forward"></a></p>
</div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-8">

      <p class="bigFont"> As as student of UNT you may be eligible to receive financial aid no matter your family’s income. Financial aid is available in the form of government grants, local and university scholarships, work-studies and loans.</p>
      <p class="bigFont">The first step is to fill out a FAFSA, or Free Application for Federal Student Aid, to determine your eligibility for financial aid. You can apply now by going to <a href="fafsa.gov" >fafsa.gov</a>
      <h3>Grants</h3>
      <p>Need based financial aid, that dose not have to be repaid.</p>

      <h3>Work Study</h3>
      <p>Need based financial aid, where student works an on campus jobs, that is funded partially by state or federal government.</p>

      <h3>Loans</h3>
      <p>Most are need based financial aid, and will be repaid with interest.</p>

      <h3>Scholarships</h3>
      <p>Merit and need based financial aid, that does not need to be repaid. However there may be other criteria that needs to be maintained. </p>

  </div>
    <div class="container">
      <div class="col-mid-4 ">

        <h3>Contact Us</h3>
        <p>Office: ESSC 228<br> Phone: 940-565-2302<br> Email: turney@unt.edu<br>Mail: Student Financial Aid and Scholarships
          <br>1155 Union Circle #311370 <br>
          Denton, TX 76203-5017 USA </p>
      </div>
    </div>
    <hr>
