 <div class="jumbotron">
  <div class="container">
<h1>Looking for an Intern, or Junior developer?</h1>
<p>I'm a senior Computer Science major, who will be graduating in the summer of 2015.<br> I'm looking for a part time internship or a full time developer position that will work with my two day-a-week school schedule.</p>
<p><a class="btn btn-primary btn-lg" ui-sref="Contact" role="button">Contact Me Now <span class="glyphicon glyphicon-forward"></a></p>
</div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h3>About Me</h3>
      <p>
        Hello, I am a senior Computer Science major at the University of North Texas. I will be graduating over the summer of 2015. My goal while pursuing my Computer Science major was to learn key ideas and development models. I am familiar with C, C++, Java, JavaScript, PHP, and html. I am always looking for something new to learn and try to always challenge myself. Along with the various coding languages I am familiar with, I have also set up various environments such as Apache, IMAP, STMP, PHPMyAdmin, Piwik, and Linux. I am also finishing up the paper work to receive CNSS 4011, and CNSS4013 security certificates.
      </p>

      <h3>Web Development</h3>
      <p><b>Backend</b> is the primary language that I have used when deveolping web site </p>

      <p><b>PHP</b> is the primary language that I have used when deveolping web site </p>

      <p><b>Java script</b> is the primary language that I have used when deveolping web site </p>

      <p><b>Data base</b> is the primary language that I have used when deveolping web site </p>

      <h3>Software Development </h3>
      <p><b>C language</b> is the primary language that I have used when deveolping web site </p>

      <p><b>C++ language</b> is the primary language that I have used when deveolping web site </p>

      <p><b>Java</b> is the primary language that I have used when deveolping web site </p>

      <h3>Platforms </h3>
      <p><b>Android</b> is the primary language that I have used when deveolping web site </p>

      <p><b>Linux</b> is the primary language that I have used when deveolping web site </p>


    </div>

    <div class="container">
      <div class="col-mid-4 ">


        <img src="images/profile.jpg" class="img-responsive img-rounded" title=" Caleb W Rogers" alt="Head shot of Caleb W Rogers" width="300px" >
        <p>Want to know more about my work. Go ahead and take a look and my live code demos or look at the source code on <a class="bodylink" href="github.com/thecrogrs"> github </a> </p>
        <p>
          Want to more about my personaly. Go ahead and jump over to my blog, or to my <a class="bodylink" href="https://www.linkedin.com/profile/public-profile-settings?trk=prof-edit-edit-public_profile">Linkedin profile</a> or my <a class="bodylink" href="https://twitter.com/TheCrogers">Twitter</a>.
        </p>
      </div>
    </div>
    <hr>
















<!--
<!DOCTYPE html>
<html lang ="en">
<head>
  <meta charset=utf-8">
  <title>Caleb W Rogers | Programmer & Web Developer | Dallas</title>
  <meta property="og:locale" content="en_US">
  <meta property="og:type" content="artical">
  <meta property="og:title" content="Caleb W Rogers | Programmer & Web Developer | Dallas">
  <meta property="og:description" content="I'm an apriring programer and web developer, who is about to graduate with a degree in Computer Science. I have worked with: C, C++, java, javascript, PHP, and html">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]
    <link rel="stylesheet" href="resources/CSS/bootstrap.min.css">
    <link rel="stylesheet" href="resources/CSS/bootstrap-theme.min.css">
    <link rel="stylesheet" href="resources/CSS/custom.css">
    <script src="resources/JS/angular.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
    <script src="resources/JS/app.js"></script>

    <body ng-app="portfolio">
      <script type="text/ng-template" id="/About.html">
        <div class="page-header">
          <h1>Flapper News</h1>
        </div>

        <!-- rest of template
      </script>
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <ui-view></ui-view>
        </div>
      </div>

      <nav class="navbar  " role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"></a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="navbar-nav navbar-right nav">
              <li >
                <a href="About.html"> <b>About</b></a>
              </li>
              <li>
                <a href="Blog.html"> <b>Blog</b></a>
              </li>
              <li ">
                <a href="Projects.html"> <b>Projects</b></a>
              </li>
              <li ">
                <a href="Contact.html"> <b>Contact</b></a>
              </li>
            </ul>
          </div><!--/.navbar-collapse
        </div>
      </nav>
      <div class="jumbotron">
        <div class="container">


        </div>
      </div>



        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="resources/JS/bootstrap.min.js"></script>
      </body>
      </html>
    -->
