 <div class="jumbotron">
        <div class="container">
<h1>  {{post.title}} </h1>
<h4>upvotes: {{post.upvotes}}</h4>
<p><span class="btn btn-primary btn-lg"ng-click="incrementUpvotes(post)">Upvote <span class="glyphicon glyphicon-fire"></span></span></p>
</div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-8">


        <p>
          {{post.content}}
        </p>

      </div>


    <div class="col-md-4">

      <img src="images/profile.jpg" class="img-responsive img-rounded" title=" Caleb W Rogers" alt="Head shot of Caleb W Rogers" width="300px" >
      <p>Want to know more about my work. Go ahead and take a look and my live code demos or look at the source code on <a class="bodylink" href="github.com/thecrogrs"> github </a> </p>
      <p>
        Want to more about my personaly. Go ahead and jump over to my blog, or to my <a class="bodylink" href="https://www.linkedin.com/profile/public-profile-settings?trk=prof-edit-edit-public_profile">Linkedin profile</a> or my <a class="bodylink" href="https://twitter.com/TheCrogers">Twitter</a>.
      </p>
    </div>
    </div>
